@font-face {
    font-family: 'Mark Pro';
    src: url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.eot');
    src: url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.eot') format('embedded-opentype'),
        url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.woff') format('woff'),
        url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.ttf') format('truetype'),
        url('https://raw.githubusercontent.com/ShopmonkeyNL/shopmonkey-assets/blob/main/fonts/MarkPro-Heavy.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

